{% extends 'base.html.twig' %}

{% block title %}Espace Patient{% endblock %}

{% block body %}
    <h3>{{ patient.firstname }} {{ patient.lastname }} </h3>
    <h4>{{ patient.city }} {{ patient.zip }} {{ patient.adress }}</h4>
    <h4> {{ patient.phoneNumber }} </h4>
     <h4> {{ patient.description }} </h4>
{% endblock %}
